<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="73c1fb">  <td>21/03/04 17:54:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PutRequestTesting.updateEmployeeInfoByInValidID_T2()[pri:0, instance:testEmployeeApi.PutRequestTesting@51f116b8]">updateEmployeeInfoByInValidID_T2</td> 
  <td>main@1006227006</td>   <td></td> </tr>
<tr bgcolor="73c1fb">  <td>21/03/04 17:54:56</td>   <td>25729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PutRequestTesting.updateEmployeeInfoByValidID_T1()[pri:0, instance:testEmployeeApi.PutRequestTesting@51f116b8]">updateEmployeeInfoByValidID_T1</td> 
  <td>main@1006227006</td>   <td></td> </tr>
</table>
